<html>
    <head>
        <title>
            BLOG APP
        </title>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" />
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="code icon"></i>BLOG SITE</div>
                <a href="/" class="item">HOME</a>
                <a href="/blogs/new" class="item">NEW POST</a>
            </div>

        </div>
        
